<li class='workout_exercise big_box_list row hover_box {{order}}' data-workout-exercise='{{id}}'>

  <aside class='span1 w_e_order {{id}}'>

    {{# own_workout}}
      <div class='number {{first}}'>
        <a href="{{url}}" class='change_workout_exercise_order up' data-order='{{order}}' data-move='up' data-workout-exercise='{{id}}'>{{{up_link}}}</a>
        <span class='order_number'>{{order}}</span>
        <br />
        <a href="{{url}}" class='change_workout_exercise_order' data-order='{{order}}' data-move='down' data-workout-exercise='{{id}}'>{{{down_link}}}</a>
      </div>
    {{/ own_workout}}

    {{^ own_workout}}
      <p class='order_number'>{{order}}</p>
    {{/ own_workout}}

  </aside>


  <article class='we_details text-holder'>
    <header class='heading-box'>
      <h3><a href="{{exercise_url}}" data-toggle='modal' data-target='#exercise_ajax_modal'>{{name}}</a></h3>
      <span class='note'>{{muscle}} - {{equipment_name}}</span>
    </header>

    <div class='span12 workout_form_group instructions'>
      <!-- <div>{{muscle}} with {{equipment_name}}</div> -->

      <br />

      <p>{{instructions}}</p>

      {{# own_workout}}
        <a href="{{url}}" class='show_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Edit</a>
        <div class='hidden workout_exercise_form instructions'>
          <input class='string' type='text' data-tag='instructions' data-value="{{id}}">
          <button class='update_workout_exercise_form instructions btn btn-primary btn-small' data-value="{{id}}">
            UPDATE
          </button>

          <a href="{{url}}" class='hide_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Cancel</a>
        </div>

      {{/ own_workout}}

    </div>

    <div class='set_details pull-right span12'>
      <table class='workout_exercise_set_details'>
        <tbody data-workout-exercise='{{id}}'>

          {{# own_workout}}
            <tr><td class='add_set'><a href="{{set_details_url}}" class='new_workout_exercise_set_details'>+ ADD SET</a></td></tr>
          {{/ own_workout}}

          {{{javascript_set_details}}}

          {{#set_details}}
            {{> workout_exercises/set_detail}}
          {{/set_details}}

        </tbody>
      </table>
    </div>
  </article>

  <div class='delete_exercise'>
    {{# own_workout}}
      <a href="{{url}}" class='delete_workout_exercise'>DELETE EXERCISE</a>
    {{/ own_workout}}
  </div>
</li>