<li class='workout_exercise big_box_list row well {{order}}'>

  {{# own_workout}}
    <aside class='span1 w_e_order {{id}}'>
    	<a href="{{url}}" class='change_workout_exercise_order' data-order='{{order}}' data-move='up'>{{{up_link}}}</a>
      <p class='order_number'>{{order}}</p>
    	<a href="{{url}}" class='change_workout_exercise_order' data-order='{{order}}' data-move='down'>{{{down_link}}}</a>
    </aside>
  {{/ own_workout}}

  {{^ own_workout}}
    <p class='order_number'>{{order}}</p>
  {{/ own_workout}}

  <article class='span4 w_e_details'>
  	<h3>
  	  <a href="{{exercise_url}}" data-toggle='modal' data-target='#exercise_ajax_modal'>{{name}}</a>
  	</h3>

    <div class='workout_form_group instructions'>
      <h5 class='workout_value instructions' data-value="{{id}}">Instructions</h5>
      <p>{{instructions}}</p>

      {{# own_workout}}
        <a href="{{url}}" class='show_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Edit</a>
        <div class='hidden workout_exercise_form instructions'>
          <input class='string' type='text' data-tag='instructions' data-value="{{id}}">
          <button class='update_workout_exercise_form instructions btn btn-primary btn-mini' data-value="{{id}}">
          	UPDATE
          </button>

          <a href="{{url}}" class='hide_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Cancel</a>
        </div>
      {{/ own_workout}}

    </div>

    <table class='workout_exercise_details'>
      <thead>
      	<tr>
          <th class='workout_exercise_details sets'>
            <h5>Sets</h5>
          </th>

          <th class='workout_exercise_details muscle'>
            <h5>Muscle</h5>
          </th>
          <th class='workout_exercise_details equipment'>
            <h5>Equipment</h5>
          </th>
        </tr>

      </thead>

      <tbody>
        <tr>
          <td>
            <div class='workout_form_group sets' data-value='{{id}}'>
              <p>{{sets}}</p>

              {{# own_workout}}
                <a href="{{url}}" class='show_workout_exercise_form' data-tag='sets' data-value="{{id}}">Edit</a>

                <div class='hidden workout_exercise_form sets' data-value='{{url}}'>

                  <input class='numeric integer thin_form_element' type='number' step='1' data-tag='sets' data-value="{{id}}">

                  <button class='update_workout_exercise_form sets btn btn-primary btn-mini' data-value="{{id}}">
                    UPDATE
                  </button>

                  <a href="#" class='hide_workout_exercise_form' data-tag='sets' data-value="{{id}}">Cancel</a>
                </div>
              {{/ own_workout}}

            </div>
          </td>

          <td>
            <p>{{muscle}}</p>
          </td>
          <td>
            <p>{{equipment_name}}</p>
          </td>
        </tr>

      </tbody>
    </table>

    {{# own_workout}}
      <a href="{{url}}" class='delete_workout_exercise btn btn-danger btn-mini'>DELETE</a>
    {{/ own_workout}}
  </article>
</li>