<li class='workout_exercise big_box_list row well {{order}}'>

  <aside class='span1 w_e_order {{id}}'>

    {{# own_workout}}
  	  <a href="{{url}}" class='change_workout_exercise_order' data-order='{{order}}' data-move='up'>{{{up_link}}}</a>
      <p class='order_number'>{{order}}</p>
  	  <a href="{{url}}" class='change_workout_exercise_order' data-order='{{order}}' data-move='down'>{{{down_link}}}</a>
    {{/ own_workout}}

    {{^ own_workout}}
      <p class='order_number'>{{order}}</p>
    {{/ own_workout}}

  </aside>


  <article class='we_details'>
  	<h3 class='span5'>
  	  <a href="{{exercise_url}}" data-toggle='modal' data-target='#exercise_ajax_modal'>{{name}}</a>
  	</h3>

    <div class='set_details'>
      <table class='span3 workout_exercise_details'>
        <thead>
          <tr>
            <th class='workout_exercise_details sets'>
              <h5>Set</h5>
            </th>
  
            <th class='workout_exercise_details reps'>
              <h5>Reps</h5>
            </th>
            <th class='workout_exercise_details weight'>
              <h5>Weight</h5>
            </th>
          </tr>
  
        </thead>

        <tbody>
          <tr class='set' data-value='{{id}}'>
            <td>
              <div>
                <p class='sets'>{{sets}}</p>  
              </div>
            </td>

            <td class='reps' data-value='12' data-type='reps'>
              <p>12</p>
              {{# own_workout}}
  
                  <div>
                    <a href="{{url}}" class='change_workout_exercise_set_details' data-direction='up'><i class='icon-chevron-up change_workout_exercise_set_details' data-direction='up'></i></a>
  
                    <a href="{{url}}" class='change_workout_exercise_set_details' data-direction='down'><i class='icon-chevron-down change_workout_exercise_set_details' data-direction='down'></i></a>
                  </div>
  
                </div>
              {{/ own_workout}}
            </td>
            <td>
              <p>60kg</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class='span3 workout_form_group instructions'>
      <div>{{muscle}} with {{equipment_name}}</div>

      <!-- <h5 class='workout_value instructions' data-value="{{id}}">Instructions</h5> -->
      <p>{{instructions}}</p>

      {{# own_workout}}
        <a href="{{url}}" class='show_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Edit</a>
        <div class='hidden workout_exercise_form instructions'>
          <input class='string' type='text' data-tag='instructions' data-value="{{id}}">
          <button class='update_workout_exercise_form instructions btn btn-primary btn-mini' data-value="{{id}}">
          	UPDATE
          </button>

          <a href="{{url}}" class='hide_workout_exercise_form' data-tag='instructions' data-value="{{id}}">Cancel</a>
        </div>
      {{/ own_workout}}

    </div>

    {{# own_workout}}
      <div class='well span5'>
        <h4>DANGER ZONE!</h4>
        <a href="{{url}}" class='delete_workout_exercise btn btn-danger btn-mini'>DELETE</a>
      </div>
    {{/ own_workout}}
  </article>
</li>