%div#invite_message
  %span.edit
    %i.icon-pencil#edit_message{ "ng-click" => "editMessageMode()" }
  %p{ "ng-hide" => "editMessage" } {{message}}

%form{ "ng-show" => "editMessage", "ng-submit" => "changeMessage(message)" }
  %textarea#message_form{ "ng-model" => 'message' }
  %button.btn-success SAVE