#invite_from
  %header
    %b
      Invite From

  - if @user_email
    %p.user_email= @user_email

  - else
    .user{ "ng-hide" => "editSenderEmailMode" }
      %span.edit
        %i.icon-pencil#edit-my-email{ "ng-click" => "editSenderEmail()" }
      %p.user_email {{inviteFrom}}

    .no_user{ "ng-show" => "editSenderEmailMode" }
      %p Before you can add friends you need to let us know who you are, if you haven't registered for updates from fitafy we'll add you now.

      %form.users_email{ "name" => "senderForm", "ng-submit" => "addSenderEmail(sender)" }
        %input#user_email{ "type" => "email", "placeholder" => "your@email.com", "ng-model" => "sender.email", "required" => true }
        %button.add{ "ng-disabled" => "senderForm.$invalid" } ADD YOUR EMAIL