#invites
  %aside.row-fluid
    .span12

      %p We want as many fitness professional as possible to benefit from getting leads from fitafy.

      %p If you have friends or colleagues you think would be interested why not spread the word?

  %section.row-fluid

    %section.span5{ "ng-controller" => "InviteFriendsCtrl" }
      %header
        %b Your Invite

      = render 'invite_message'

      %aside
        = render 'invite_to'

        = render 'invite_from'

        %button.btn.btn-primary.send{ "ng-click" => "sendInvite()" } SEND INVITES