#invites
  %aside.row-fluid
    .span12

      %p We want as many fitness professional as possible to benefit from getting leads from fitafy.

      %p If you have friends or colleagues you think would be interested why not spread the word?

  %section.row-fluid

    %section.span4
      %header
        %b Your Invite

      %div
        %p Hi! I just signed up to a new service that gets fitness professionals new clients. I thought you'd like to check it out!
        %span.edit
          %i.icon-pencil

      %aside{ "ng-controller" => "InviteFriendsCtrl" }
        %header
          %b
            Invited Friends
            %span.badge.badge-info 5

        .invited-friends-list
          %form.css-form.add-friend{ 'name'=> 'form' }
            %input#friends_name{ 'type'=> 'text', 'placeholder'=> "Friend's Name", "ng-model" => "friend.name" }
            %input#friends_email{ 'type'=> 'email', 'placeholder'=> "friends@email.com", "ng-model" => "friend.contact" }
            %button.btn-success.add{ "ng-click" => "addFriend(friend)" } ADD FRIEND

          %ul
            %li.invited-friend{ "ng-repeat" => "friend in friends"}
              %img.profile-pic{ 'src'=> "http://static.bleacherreport.net/images/redesign/avatars/default-user-icon-profile.png"}
              %b.name {{friend.name}}
              %br
              %small.muted {{friend.contact}}
              %span.delete
                [
                %a{ 'href'=> '', "ng-click" => "removeFriend($index)" } X
                ]

        %button.btn.btn-primary.send SEND INVITES