.modal.hide.fade.in#add_workout_exercise

  .modal-header

    %a.close{ "data-dismiss" => "modal" } x
    %h2 Add Exercise To Workout
    %p.exercise_loaded_text

  .modal-body

    .span2.tabbable.tabs-right.affix-right
      = render partial: "exercises/tags"

    .span4
      %header#add_exercises_title_and_search
        %h3#exercise_modal_title.list_title ALL EXERCISES
        %br
        %form.form-search
          %input#workout_exercise_autofilter_search.input-large.search-query{'type' => 'text', 'placeholder' => 'Search exercises'}
          %p.red
      %article.exercise_list