.modal.hide.fade.in#add_workout_exercise

  .modal-header

    %a.close{ "data-dismiss" => "modal" } x
    %h2 Add Exercise To Workout

  .modal-body

    .span2.tabbable.tabs-right.affix-right
      = render partial: "exercises/tags"

    .span4
      %h3.list_title All Exercises
      %br
      .exercise_list
        %br
        = render partial: "exercise", collection: @exercises