#new_workout_form.row
  %section.span7
    #workout_exercises_form.span= render "workout_exercises_form", f: f
  
  %section#workout_form.span2
    = f.input :name
    = f.input :notes, input_html: { rows: 4 }