.modal.hide.fade.in#new_workout_modal

  .modal-header

    %a.close{ "data-dismiss" => "modal" } x
    %h3 Create New Workout

  .modal-body
    = simple_form_for new_workout, html: { class: 'fita_form' } do |f|
      = f.input :name, placeholder: 'Workout Name'
      = f.submit "CREATE WORKOUT", class: "btn btn-primary"