%li.workout_list.box_list.well.span2
  %article
    %header
      %h5= link_to workout.name.titleize, user_workout_path(workout.user_id, workout)

    %p
      = workout.safe_client_level.upcase
      = workout.safe_difficulty.upcase

    %p
      By: CLUB_RYNO

    %p
      = workout.exercises_count
      EXERCISES