<li class="workout_item box_list well span2">
  <article class="workout muscles">
    <header>
      <h5>
      	<a href="{{url}}">{{name}}</a>
      </h5>
    </header>
    <p>
      {{client_level}}
      {{difficulty}}
    </p>
    <p>BY: {{username}}</p>
    <p>{{exercise_count}} EXERCISES</p>
  </article>
</li>