%p 120 VIEWS
%p= link_to "ADD TO FAVORITES", "#", class: "btn btn-inverse"
%p 34 FAVORITES
%p= link_to "EDIT THE WORKOUT", "#", class: "btn btn-info"
%p 84 DOWNLOADED
%p= link_to "DOWNLOAD AS PDF", "#", class: "btn btn-success"