%p= link_to "ADD TO FAVORITES", "#", class: "btn btn-inverse"

%br

%p= link_to "EDIT THE WORKOUT", edit_workout_path(@workout), class: "btn btn-info"

%br

%p= link_to "DOWNLOAD AS PDF", "#", class: "btn btn-success"