%section#workout_index_tag_list.row
  = render partial: "tags/list", locals: { width: 9 }

  %section#workouts.row-fluid
    .span12
      %ul#workout_list.workout-list{"data-json-url" => workouts_url(format: :json)}
        - @workouts.each do |workout|
          - @renderer.workout = workout
          = @renderer.render.html_safe

.end_of_workouts
  %p.alert.alert-error.hidden No more workouts!