%section#workout_filters
  = render partial: "tags/list", locals: { width: 10 }

%section#workouts.row
  / %ul#workout_list= render @workouts
  %ul#workout_list
    - @workouts.each do |workout|
      - @renderer.set_workout workout
      = @renderer.render.html_safe

/ %script#workout_template{"type"=>"text/html"}
/   = render "workout"