%article
  = @workout.titleize_name
  = @workout.capitalize_notes

  #workout_exercises
    - @workout.list_exercises.each do |exercise|
      = exercise.titleize_name

%section= link_to "Edit Workout", edit_workout_path(@workout)