.main-visual

  %aside.form_options
    %p Forgot your password? No worries! Just tell me your email yo!

  = simple_form_for @reseter, html: { class: 'fita_form' } do |f|
    = f.error_notification
    = f.input :email
    = f.submit "RESET PASSWORD", class: "btn btn-primary"