<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Thanks for signing up to fitafy!</h2>

    <p>Fitafy's aim in life is to drive new clients to personal trainers. We're currently building the first version of the fitafy product and will let you know when it's ready to use.</p>

    <p>In the meantime we'll send you an email every month or so with helpful tips and tricks about getting and keeping PT clients. We promise we won't send you spam, but if you really don't want these emails feel free to unsubscribe by going to: <%= @url %></p>

    <p>If you want to get in touch with any of us please feel free to send us an email:</p>
    <ul>
      <li>
        <a href="mailto:vlad@fitafy.com">Vlad (tech guy @ fitafy)</a>
      </li>
      <li>
        <a href="mailto:rob@fitafy.com">Rob (biz guy @ fitafy)</a>
      </li>
      <li>
        <a href="mailto:ryan@fitafy.com">Ryan (creative guy @ fitafy)</a>
      </li>
    </ul>
  </body>
</html>