<!DOCTYPE html>
<html>
  <head>
  	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	<body>
  		<h3>
  			Hey <%= @username.titleize %> so I hear you left your password lyin' around somewhere!
  		</h3>
  		<p>
  			No worries - I do it all the time too. Either click the link below or copy it into your internet browser... I wish I could do this with my car keys!
  		</p>
  		<p>
  			Password reset link: <%= @url %>
  		</p>
      <p>
        Cheers! Team fitafy
      </p>
  	</body>
  </head>
</html>