Yo <%= @username %>! Welcome to fitafy
======================================

fitafy is made for personal trainers to find, create and manage their client's workouts.

We build this with as much sweat as you put into your training sessions (yes we bring in towels to work) and we hope you enjoy it!

We'd love to hear from you so if you want a chat, drop us a line!

Guys who made fitafy:
vlad@fitafy.com (tech guy @ fitafy)
rob@fitafy.com  (biz guy @ fitafy)
ryan@fitafy.com (creative guy @ fitafy)

www.fitafy.com