<!DOCTYPE html>
<html>
  <head>
  	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	<body>
  		<h1>
  			Yo <%= @username.titleize %>! Welcome to fitafy
  		</h1>
  		<p>
  			<a href="http://www.fitafy.com">fitafy</a> is made for personal trainers to find, create and manage their client's workouts.
  		</p>
  		<p>
  			We've built this with as much sweat as you put into your training sessions (yes we bring in towels to work) and we hope you enjoy it!
  		</p>
  		<p>
  			We'd love to hear from you so if you want a chat, drop us a line!
  		</p>
  		<ul>
  			<li>
  				<a href="mailto:vlad@fitafy.com">Vlad (tech guy @ fitafy)</a>
        </li>
        <li>
  				<a href="mailto:rob@fitafy.com">Rob (biz guy @ fitafy)</a>
        </li>
        <li>
  				<a href="mailto:ryan@fitafy.com">Ryan (creative guy @ fitafy)</a>
  			</li>
  		</ul>
  	</body>
  </head>
</html>