<article class='exercise exercise_list_item'>
  <h4>
  	<a href="{{url}}">
  		{{name}}
  	</a>
  </h4>

  <p>{{description}}</p>

  <a href="{{edit_url}}" class="btn btn-primary btn-mini">
  	EDIT
  </a>

  {{{new_workout_exercise_form}}}
  <p class='red'></p>
<article>