<!-- <figure class='span3'> -->
  <!--   = image_tag 'shoulder_press.png' -->  
<!-- </figure> -->

<article>
  <article class='span4 show_exercise_mustache'>
    <h5>Description</h5>
    <p>{{description}}</p>

    <h5>Tips</h5>
    <p>{{tips}}</p>

    <h5>Muscle</h5>
    <p>{{muscle}}</p>

    <h5>Category</h5>
    <p>{{category}}</p>

    <h5>Equipment</h5>
    <p>{{equipment}}</p>
  </article>
</article>