= simple_form_for @user, html: { multipart: true } do |f|
  = f.input :avatar, label: "Profile Image"
  = f.submit "Change Profile Pic", class: "btn btn-primary"

= link_to "EDIT PROFILE", edit_user_path(current_user), class: "  btn btn-info"