%aside#user_stats
  %p
    = @user.workouts_count
    Workouts

  %p
    - if @user.has_favorite_workouts?
      = link_to pluralize(@user.count_favorite_workouts, "Favorite"), tags: :favorite
  
  %br
  %br