= render partial: "simple_form", locals: { cta: "SIGN UP" }

%p
  = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"

%aside
  %p 
    Already got an account?
    = link_to "Login", login_path
    here

