%section#home_usp
  %p#usp_copy
    = @snapz.usp

  %table#homepage_cta
    %tr
      %td
        #find_workouts= link_to "FIND WORKOUTS", workouts_path, class: "btn btn-primary"
      %td
        #create_workouts= link_to "CREATE WORKOUTS", new_workout_path, class: "btn btn-success"