%section.container-fluid
  .row-fluid
    .span12
      .main-visual
        .text-holder
          %h1 DIGITAL WORKOUTS
          %p= @snapz.usp
          .btn-holder
            = link_to "FIND WORKOUTS", workouts_path, class: "btn btn-primary"
            = link_to_create_workout_button

- unless @workouts.empty?
  %aside.row-fluid
    .span12
      .workout-holder
        %header
          %h3 SOME WORKOUTS

      %ul.workout-list
        - @workouts.each do |workout|
          - @renderer.workout = workout
          = @renderer.render.html_safe