%aside.tabs-holder
  .holder
    %ul#active_tag_container.span12.tabset
      %li
        %a{ href: '#', class: 'btn', id: 'show_tags_button' } FIND WORKOUTS

.tab-content
  %a{ href: '#', class: 'btn-close' } close
  .box
    %strong.title MUSCLES
    %ul.btn-list#inactive_tags
      %li
        - @muscles.each do |tag|
          = link_to_single_param_tags tag