%aside.tabs-holder.span12
  .holder

    %ul#active_tag_container.tabset.row
      %li
        %a{ href: '#', class: 'btn', id: 'show_tags_button' } SORT WORKOUTS

      #inactive_tags.tab-content.hidden.row
        / %a{ href: '#', class: 'btn-close inactive_tags' } close
        .box
          %strong.title MUSCLES
          %ul.btn-list
            %li
              - @muscles.each do |tag|
                = link_to_single_param_tags tag