.row
  #active_tag_container.well{"class" => "span#{width}"}
    = link_to "SORT BY TAGS", "#", class: "btn btn-primary", id: "show_tags_button"
    #active_tags

  #inactive_tags.well.hidden{"class" => "span#{width}"}
    - @muscles.each do |tag|
      = link_to_single_param_tags tag