//----------------------------------------------
// COLORS
//----------------------------------------------

$dark_grey_font_color: #35302d;
$dark_grey_outline_color: #545454;

$font_color:               #3c3c3c;
$nav_color:                $dark_grey_outline_color;
$nav_colapse_color:        #323232;
$footer_background_color:  #323232;
$link_color:               #cd0000;
$background_color:         #efede4;
$white_color:              #ffffff;
$highlighted_box_color:    $dark_grey_outline_color;
$nav_background_color:     rgba(142, 20, 21, 0.9);
$nav_background_shadow:    '0 0 0 #000';
$tab_background_color:     rgb(138,138,136);
$close_tab_color:          rgb(113,113,113);
$close_tab_hover_color:    rgb(211,57,57);
$user_details_color:       $dark_grey_outline_color;
$exercise_list_color:      $dark_grey_outline_color;
$exercise_list_color2:     #454545;
$workout_background_color: #d1d0cb;
$workout_list_color:       $dark_grey_outline_color;

$h1_color: $dark_grey_font_color;
$h2_color: #202020;
$h3_color: $dark_grey_font_color;
$h4_color: #373636;
$h5_color: #404040;

//----------------------------------------------
// FONT
//----------------------------------------------

$rama_reg: 'MerriweatherSans', Arial, Helvetica, sans-serif;

$h1_font: 'MerriweatherSans', Arial, Helvetica, sans-serif;
$h2_font: 'MerriweatherSans', Arial, Helvetica, sans-serif;
$h3_font: 'MerriweatherSans', Arial, Helvetica, sans-serif;
$h4_font: 'MerriweatherSans', Arial, Helvetica, sans-serif;
$h5_font: 'MerriweatherSans', Arial, Helvetica, sans-serif;

$body_font: 13px/15px Helvetica, Arial, sans-serif;
$form_font: 20px/24px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
$nav_font:  18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
$tab_font:  20px/24px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;

$exercise_list_font:    55px/58px 'MerriweatherSans', Arial, Helvetica, sans-serif;
$exercise_list_h3_font: 25px/28px 'MerriweatherSans', Arial, Helvetica, sans-serif;

$nav_font_shadow: '0 1px 1px rgba(0, 0, 0, 0.4)';

//----------------------------------------------
// IMAGES
//----------------------------------------------

$navbar_seperator_image:   "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362900484/k58ayntpu6zunpjvsjym.png";
$navbar_logo_image:        "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362900390/uvhjm0zodolelxialhda.png";
$navbar_logo_retina_image: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362900434/sgxafy5hxbkjy0b3wic6.png";
$navbar_background:        "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362803564/yiisg0igruyibrshgeak.png";
$logo_banner:              "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362803355/nmpknmsgmaaopcso2jjy.png";
$logo_retina_banner:       "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362803507/urg4jxol0g3afnwrsbao.png";
$tab_background_image:     "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362803604/vdupfs8itzsferhndigt.png";
$tab_svg_image:            "url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOGE4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)";
$button_close_image:       "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362803641/wgwgmqaafjrocq3clcsk.png";
$star_icon_image:          "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901268/i6pcobfaowwhotd1usyp.png";
$star_icon_retina_image:   "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901332/b35vppkeo6sk7evqnt0u.png";
$star_2_icon_image:        "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901507/bsimss6lfenjyhy6m5t1.png";
$star_2_icon_retina_image: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901621/uzwif0gjzjotze9v7iff.png";

$favicon_icon_image: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362900687/kossw7tuu2yogyptdshg.png";
$plus_icon_image:    "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901096/irirdsa5iacgvoezogrr.png";
$close_icon_image:   "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901415/mvto17ljs0f2bbp4ehro.png";

$iconSpritePath:      "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901893/pthdltlddvzud9ke7c57.png";
$iconWhiteSpritePath: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362901855/lzd64wys38ergbstsxpv.png";

$ajax_loader_gif: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362903578/synfhl7zq00z3cq1dnnk.gif";

$regular_hard_red_icon_image:          "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362902460/iujp25dwiepx8bdxra3z.png";
$regular_hard_red_icon_retina_image:   "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362903409/ctsublsrgjubzuitl9cq.png";
$regular_hard_grey_icon_image:         "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362902876/z8prqooqvr6ry6w8d0w6.png";
$regular_hard_grey_icon__retina_image: "https://d3jpl91pxevbkh.cloudfront.net/hdxvaer2w/image/upload/v1362903460/qgec0hnfq7xir9fe6ft0.png";

//----------------------------------------------
// BORDERS
//----------------------------------------------

$light_grey_border:    1px solid #676a6c;
$fita_form_border:     1px solid #fdfdfc;
$tab_border:           1px solid #fff;
$exercise_list_border: 1px solid #dddbd5;
$workout_list_border:  1px solid #bab9b3;

//----------------------------------------------
// OVERRIDE BOOTSTRAP
//----------------------------------------------

// Colours

$bodyBackground: $background_color;

// Typography

$baseFontFamily: $body_font;

//----------------------------------------------
// RESPONSIVE DESIGN
//----------------------------------------------

$phone_media:        320px;
$phablet_media:      480px;
$fat_phablet_media:  640px;
$small_tablet_media: 640px;
$med_tablet_media:   768px;
$med_desktop_media:  960px;
$desktop_media:      1024px;