.article-holder{
	border:1px solid #d1d0cb;
	border-width:1px 0;
	color:#3c3c3c;
	padding:11px 0 6px;
	margin:0 0 11px;
}
.article-holder:after{
	content:'';
	display:block;
	clear:both;
}
#main .main-holder p{margin: 0 0 12px;}

#main .heading h2{
	float:left;
	margin:0;
	text-transform:uppercase;
}

.main-holder .wrap{margin:-5px 0 0;}


@media only screen and (max-width: 1000px){
	.main-visual .text-holder{max-width:47%;}
	.main-visual{
		max-width:100%;
		margin:0;
		width:100%;
	}
	.workout-holder:after{width:100%;}
}

@media only screen and (max-width: 767px){

	.article-holder,
	.exercise-list li,
	#main .workout-holder h3{
		padding-left:15px;
		padding-right:15px;
	}
	#main .exercise-list .note,
	#main .exercise-list h3{
		float:none;
		margin:0 0 5px;
	}

	.btns{
		float:none;
		margin:0 0 0 15px;
	}
}
@media only screen and (max-width: 640px){
	#main .heading h2{
		float:none;
		text-align:center;
		margin:0 0 10px;
	}
	#main .heading .heading-btn{
		float:none;
		display:block;
		margin:0 auto 10px;
	}

	.main-visual{
		min-height:320px;
		padding-top:30px;
	}
}
@media only screen and (max-width: 550px) {
	.tabset li{
		display:block;
		float:none;
		margin:0 0 4px;
		text-align:center;
	}

	#main .btn,
	#main .btn.alt{min-width:240px;}
	.main-visual .text-holder{max-width:80%;}
	.tab-content .title{
		display:block;
		float:none;
		text-align:center;
		min-width:auto;
		margin:0 0 5px;
	}

	.tab-content{padding-left:0;}
	.tab-content .btn-list{
		float:none;
		text-align:center;
	}

	.tab-content .btn-list li{
		float:none;
		width:100%;
		margin: 0 0 4px;
	}

	.main-visual{
		background-position:-7px 100%;
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5),
	( min-resolution : 144dpi ){
	.logo{
		background-image:url(new_design/logo@x2.png);
		background-size: 160px 83px;
		width:55px;
		height:45px;
	}
	#footer .logo{
		background: url(new_design/logo@x2.png) no-repeat -60px 0;
		background-size: 160px 83px;
		width: 100px;
		height: 83px;
	}
	.main-visual{
		background-image:url(new_design/bg-main-visual@x2.png);
		background-size: 1021px 444px;
	}
}
