@font-face {
	font-family: 'rama_gothic_elight';
	src: url('fonts/ramagothice-light.eot');
	src: url('fonts/ramagothice-light.eot?#iefix') format('embedded-opentype'),
		url('fonts/ramagothice-light.woff') format('woff'),
		url('fonts/ramagothice-light.ttf') format('truetype'),
		url('fonts/ramagothice-light.svg#rama_gothic_elight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rama_gothic_e_regularregular';
	src: url('ramagothice-regular.eot');
	src: url('ramagothice-regular.eot?#iefix') format('embedded-opentype'),
		url('ramagothice-regular.woff') format('woff'),
		url('ramagothice-regular.ttf') format('truetype'),
		url('ramagothice-regular.svg#rama_gothic_e_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	color:#3c3c3c;
	background:#efede4;
	padding:0;
	font:13px/15px Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	min-width:320px;
}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
a{
	text-decoration:none;
	color:#cd0000;
}
a:focus,
a:hover{
	text-decoration:underline;
	color:#cd0000;
}
a:active{background-color:transparent;}
#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
}
.navbar{
	background:#323233 url(new_design/bg-nav.png);
	border-bottom:1px solid #676a6c;
	margin:0;
}
.navbar .btn{margin:18px;}
.logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	width:55px;
	height:45px;
	margin:13px 27px 10px;
}
.logo a{
	display:block;
	height:100%;
}
.nav{
	text-transform:uppercase;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#header{
	max-width:1000px;
	width:100%;
	margin:0 auto;
}
#header:after{
	content:'';
	display:block;
	clear:both;
}
.navbar .nav li{
	padding:0 2px 0 0;
	position:relative;
	background:url(new_design/sep01.png) 100% 0 no-repeat;
}
.navbar .nav li:first-child{
	padding-left:2px;
	background:url(new_design/sep01.png) 100% 0 no-repeat, url(new_design/sep01.png) no-repeat;
}
.navbar .nav li.active:after,
.navbar .nav li.active:before,
.navbar .nav li.hover:after,
.navbar .nav li.hover:before{
	background:url(new_design/sep01.png) no-repeat;
	top:0;
	left:-2px;
	height:100%;
	width:2px;
	position:absolute;
	content:'';
}
.navbar .nav li:first-child.hover:before{left:0;}
.navbar .nav li.active:after,
.navbar .nav li.hover:after{
	left:auto;
	right:0;
}
.navbar .nav li a{
	padding:0 9px;
	height:68px;
	display:table;
	color:#fff !important;
	background: rgba(0, 0, 0, 0.4) !important;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}
.navbar .nav li span{
	display:table-cell;
	vertical-align:bottom;
	width:100%;
	padding:0 0 8px;
}
.navbar .nav li.active a,
.navbar .nav li.hover a,
.navbar .nav li a:hover{
	background:rgba(142, 20, 21, 0.9) !important;
	color:#fff !important;
	box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.nav-collapse.in.collapse .nav{margin:0;}
.nav-collapse.in.collapse .nav a{
	width:100%;
	margin:0 0 2px;
}
.nav-collapse.in.collapse .nav li{
	padding:0;
	background:none;
}
.nav-collapse.in.collapse .nav li:before,
.nav-collapse.in.collapse .nav li:after{display:none;}
.main-visual{
	background:url(../images/bg-main-visual.png) no-repeat;
	background-position:50% 0;
	width:1022px;
	min-height:444px;
	margin:0 -45px 8px -37px;
	padding:109px 0 30px 12.2%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.main-visual .text-holder{
	padding:0 0 30px;
	max-width:38%;
	font: 25px/30px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
	color:#373636;
}
h1{
	color:#35302d;
	margin:0 0 9px;
	text-transform:uppercase;
	font:45px/48px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}
h2{
	color:#202020;
	margin:0 0 10px;
	font: 36px/40px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}
h3{
	font: 30px/34px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
	color:#35302d;
	margin: 0 0 7px;
	text-transform:uppercase;
}
h4{
	color:#373636;
	margin:0 0 10px;
	font: 25px/28px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}
h5{
	color:#404040;
	margin:0 0 10px;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#main{
	width:100%;
	position:relative;
	padding:0 0 30px;
}
#main .main-visual p{margin:0 0 26px;}
.row-fluid{
	max-width:940px;
	margin:0 auto;
}
.main-visual .btn-holder{
	width:100%;
	padding:0 0 5px;
}
#main .main-visual .btn-holder .btn{margin-right:15px;}
.main-visual .btn-holder:after{
	content:'';
	display:block;
	clear:both;
}
#main .btn{
	color:#fff;
	margin:0 12px 10px 0;
	background: rgb(211,57,57);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzMzkzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(211,57,57,1) 0%, rgba(159,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,57,57,1)), color-stop(100%,rgba(159,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	text-shadow:0 -1px 1px rgba(0,0,0,0.6);
	box-shadow:0 1px 2px rgba(0,0,0,0.9);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.9);
	border:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	padding:3px 7px 2px;
	min-width:124px;
	vertical-align:top;
	text-transform:uppercase;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#main .btn-small{
	min-width:86px !important;
	font-size:15px;
	line-height:17px;
}
#main .btn-large,
#main .btn-mini{
	font-size:22px;
	line-height:27px;
	min-width:189px !important;
}
#main .btn-large{min-width:479px !important;}
#main .btn.alt{min-width:1px;}
#main .btn:hover{
	background: rgb(214,57,57);
	color:#fff;
	padding:3px 7px 4px;
	margin-bottom:8px;
	box-shadow:0 1px 4px rgba(0,0,0,0.6) inset;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.6) inset;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2MGYwZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNDElIiBzdG9wLWNvbG9yPSIjOWMxMjEyIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYTQxNzE3IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(150,15,15,1) 0%, rgba(156,18,18,1) 41%, rgba(164,23,23,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,15,15,1)), color-stop(41%,rgba(156,18,18,1)), color-stop(100%,rgba(164,23,23,1)));
	background: -webkit-linear-gradient(top,  rgba(150,15,15,1) 0%,rgba(156,18,18,1) 41%,rgba(164,23,23,1) 100%);
	background: -o-linear-gradient(top,  rgba(150,15,15,1) 0%,rgba(156,18,18,1) 41%,rgba(164,23,23,1) 100%);
	background: -ms-linear-gradient(top,  rgba(150,15,15,1) 0%,rgba(156,18,18,1) 41%,rgba(164,23,23,1) 100%);
	background: linear-gradient(to bottom,  rgba(150,15,15,1) 0%,rgba(156,18,18,1) 41%,rgba(164,23,23,1) 100%);
}
#main .btn-primary{
	background: rgb(76,76,76);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjJmMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(47,47,47,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(47,47,47,1)));
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(47,47,47,1) 100%);
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(47,47,47,1) 100%);
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(47,47,47,1) 100%);
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(47,47,47,1) 100%);
}
#main .btn-primary:hover{
	background: rgb(70,70,70);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZjRmNGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(70,70,70,1) 0%, rgba(79,79,79,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,70,70,1)), color-stop(100%,rgba(79,79,79,1)));
	background: -webkit-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(79,79,79,1) 100%);
	background: -o-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(79,79,79,1) 100%);
	background: -ms-linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(79,79,79,1) 100%);
	background: linear-gradient(to bottom,  rgba(70,70,70,1) 0%,rgba(79,79,79,1) 100%);
}
#main .btn-info{
	background: rgb(197,120,19);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NzgxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZjQ2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(197,120,19,1) 0%, rgba(175,70,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,120,19,1)), color-stop(100%,rgba(175,70,0,1)));
	background: -webkit-linear-gradient(top,  rgba(197,120,19,1) 0%,rgba(175,70,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(197,120,19,1) 0%,rgba(175,70,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(197,120,19,1) 0%,rgba(175,70,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(197,120,19,1) 0%,rgba(175,70,0,1) 100%);
}
#main .btn-info:hover{
	background: rgb(140,56,4);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjMzgwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNjRkMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(140,56,4,1) 0%, rgba(166,77,4,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,56,4,1)), color-stop(100%,rgba(166,77,4,1)));
	background: -webkit-linear-gradient(top,  rgba(140,56,4,1) 0%,rgba(166,77,4,1) 100%);
	background: -o-linear-gradient(top,  rgba(140,56,4,1) 0%,rgba(166,77,4,1) 100%);
	background: -ms-linear-gradient(top,  rgba(140,56,4,1) 0%,rgba(166,77,4,1) 100%);
	background: linear-gradient(to bottom,  rgba(140,56,4,1) 0%,rgba(166,77,4,1) 100%);
}
#main .btn-success{
	background: rgb(218,82,15);
	background: -moz-linear-gradient(top,  rgba(218,82,15,1) 0%, rgba(170,36,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(218,82,15,1)), color-stop(100%,rgba(170,36,0,1)));
	background: -webkit-linear-gradient(top,  rgba(218,82,15,1) 0%,rgba(170,36,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(218,82,15,1) 0%,rgba(170,36,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(218,82,15,1) 0%,rgba(170,36,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(218,82,15,1) 0%,rgba(170,36,0,1) 100%);
}
#main .btn-success:hover{
	background: rgb(157,46,7);
	background: -moz-linear-gradient(top,  rgba(157,46,7,1) 0%, rgba(171,55,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,46,7,1)), color-stop(100%,rgba(171,55,10,1)));
	background: -webkit-linear-gradient(top,  rgba(157,46,7,1) 0%,rgba(171,55,10,1) 100%);
	background: -o-linear-gradient(top,  rgba(157,46,7,1) 0%,rgba(171,55,10,1) 100%);
	background: -ms-linear-gradient(top,  rgba(157,46,7,1) 0%,rgba(171,55,10,1) 100%);
	background: linear-gradient(to bottom,  rgba(157,46,7,1) 0%,rgba(171,55,10,1) 100%);
}
.article-holder{
	border:1px solid #d1d0cb;
	border-width:1px 0;
	color:#3c3c3c;
	padding:11px 0 6px;
	margin:0 0 11px;
}
.article-holder:after{
	content:'';
	display:block;
	clear:both;
}
#main .main-holder p{margin: 0 0 12px;}
.workout-holder{
	position:relative;
	padding:0 0 2px;
	margin:0 0 10px;
}
.workout-list{
	margin:0 -21px 0 0;
	padding:0;
	list-style:none;
	overflow:hidden;
	letter-spacing:-4px;
	font-size:0;
	position:relative;
	text-align:center;
}
.workout-holder:after{
	position:absolute;
	bottom:0;
	left:0;
	background:#d1d0cb;
	height:1px;
	width:100%;
	content:'';
}
.workout-list li{
	background: rgb(239,237,227);
	border:1px solid #bab9b3;
	border-radius: 2px;
	margin:0 19px 8px 0;
	width:141px;
	text-align:center;
	letter-spacing:0;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
	display:inline-block;
	vertical-align:top;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgb(248,247,242);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjdmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVkZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,247,242,1) 0%, rgba(239,237,227,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,247,242,1)), color-stop(100%,rgba(239,237,227,1)));
	background: -webkit-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
}
.user-details:hover,
.workout-list li:hover{
	background: rgb(251,251,248);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYmNiYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(251,251,248,1) 0%, rgba(203,203,201,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,248,1)), color-stop(100%,rgba(203,203,201,1)));
	background: -webkit-linear-gradient(top,  rgba(251,251,248,1) 0%,rgba(203,203,201,1) 100%);
	background: -o-linear-gradient(top,  rgba(251,251,248,1) 0%,rgba(203,203,201,1) 100%);
	background: -ms-linear-gradient(top,  rgba(251,251,248,1) 0%,rgba(203,203,201,1) 100%);
	background: linear-gradient(to bottom,  rgba(251,251,248,1) 0%,rgba(203,203,201,1) 100%);
}
.workout-list a{
	display:block;
	position:relative;
	padding:6px 5px 37px;
	min-height:122px;
	color:#545454;
}
.workout-list a:hover{color:#cd0000;}
.workout-list .title{
	display:block;
	font-weight:normal;
}
.workout-list .caption{
	display:block;
	font-size:13px;
	line-height:15px;
	margin:0 0 13px;
	font-weight:normal;
}
.workout-list img{
	display:block;
	margin:0 auto 5px;
}
.workout-list .note{
	position:absolute;
	left:0;
	bottom:3px;
	width:100%;
}
.workout-list a:hover img,
.workout-list .hover{display:none;}
.workout-list a:hover .hover{display:block;}
.workout-list a:hover{text-decoration:none;}
.heading{
	width:100%;
	max-width:940px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px 0 7px;
}
.heading:after{
	content:'';
	display:block;
	clear:both;
}
.heading-btn{
	float:right;
	color:#fff !important;
	position:relative;
	min-width:229px;
	padding:2px 35px;
	margin:-4px 0 0 10px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none !important;
	background: rgb(211,57,57);
	background: -moz-linear-gradient(top,  rgba(211,57,57,1) 0%, rgba(159,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,57,57,1)), color-stop(100%,rgba(159,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	font: 36px/40px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}
.heading-btn:before,
.heading-btn:after{
	position:absolute;
	content:'';
	left:15px;
	top:50%;
	background:url(../images/bullet01.png) no-repeat;
	width:18px;
	height:17px;
	margin:-9px 0 0;
}
.heading-btn:hover{
	color:#fff;
	text-decoration:none !important;
}
.heading-btn:after{
	left:auto;
	right:13px;
}
#main .heading h2{
	float:left;
	margin:0;
	text-transform:uppercase;
}
.tabs-holder{
	width:100%;
	max-width:941px;
	position:relative;
}
.tabs-holder .holder{
	margin:0 0 7px;
	width:100%;
}
.tabs-holder .holder:after,
.tabs-holder:after{
	content:'';
	display:block;
	clear:both;
}
.search-form{
	margin:0 0 0 19px;
	float:right;
}
.search-form legend{
	display:none;
	font-size:0;
	line-height:0;
}
.search-form .block{
	padding:0 7px 0 0;
	border:1px solid #fdfdfc;
	width:131px;
	overflow:hidden;
	border-radius: 6px;
	background: rgb(217,216,202);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDhjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU1ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(217,216,202,1) 0%, rgba(228,229,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,216,202,1)), color-stop(100%,rgba(228,229,218,1)));
	background: -webkit-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.search-form .block.parent-focus{
	background: rgb(248,231,188);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZTdiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWVmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,231,188,1) 0%, rgba(250,239,213,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,231,188,1)), color-stop(100%,rgba(250,239,213,1)));
	background: -webkit-linear-gradient(top,  rgba(248,231,188,1) 0%,rgba(250,239,213,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,231,188,1) 0%,rgba(250,239,213,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,231,188,1) 0%,rgba(250,239,213,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,231,188,1) 0%,rgba(250,239,213,1) 100%);
}
.search-form .input-placeholder-text,
.search-form input[type="text"]{
	display:block;
	background:none;
	margin:0;
	border:none;
	float:left;
	font: 20px/24px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
	color:#373636;
	text-transform:uppercase;
	padding:8px 12px;
	width:74px;
	height:24px;
	box-shadow:0 0 0 rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0.3) inset;
}
.search-form input[type="submit"]{
	float:right;
	background: rgb(135,135,132);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3ODc4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NTU1NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(135,135,132,1) 0%, rgba(85,85,82,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,132,1)), color-stop(100%,rgba(85,85,82,1)));
	background: -webkit-linear-gradient(top,  rgba(135,135,132,1) 0%,rgba(85,85,82,1) 100%);
	background: -o-linear-gradient(top,  rgba(135,135,132,1) 0%,rgba(85,85,82,1) 100%);
	background: -ms-linear-gradient(top,  rgba(135,135,132,1) 0%,rgba(85,85,82,1) 100%);
	background: linear-gradient(to bottom,  rgba(135,135,132,1) 0%,rgba(85,85,82,1) 100%);
	color:#fff;
	width:31px;
	height:28px;
	margin:7px 0 0;
	font: 20px/28px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
	padding:0;
	border:none;
	border-radius: 4px;
	text-transform:uppercase;
}
.tabset{
	border:1px solid #fdfdfc;
	overflow:hidden;
	border-radius: 6px;
	background: rgb(217,216,202);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDhjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU1ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(217,216,202,1) 0%, rgba(228,229,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,216,202,1)), color-stop(100%,rgba(228,229,218,1)));
	background: -webkit-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
	margin:0;
	list-style:none;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
	padding:6px 9px 5px;
}
.tabset li{float:left;}
.tabset a{
	color:#fff;
	text-transform:uppercase;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
	padding:2px 7px 3px;
}
#main .tabset .btn{margin:0 8px 2px 0;}
#main .tabset .btn-primary{
	background: rgb(138,138,136);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOGE4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjU2NTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(138,138,136,1) 0%, rgba(86,86,84,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,138,136,1)), color-stop(100%,rgba(86,86,84,1)));
	background: -webkit-linear-gradient(top,  rgba(138,138,136,1) 0%,rgba(86,86,84,1) 100%);
	background: -o-linear-gradient(top,  rgba(138,138,136,1) 0%,rgba(86,86,84,1) 100%);
	background: -ms-linear-gradient(top,  rgba(138,138,136,1) 0%,rgba(86,86,84,1) 100%);
	background: linear-gradient(to bottom,  rgba(138,138,136,1) 0%,rgba(86,86,84,1) 100%);
}
#main .tab-content .btn-primary{
	background: rgb(110,109,109);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlNmQ2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjNiM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(110,109,109,1) 0%, rgba(59,59,58,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,109,109,1)), color-stop(100%,rgba(59,59,58,1)));
background: -webkit-linear-gradient(top,  rgba(110,109,109,1) 0%,rgba(59,59,58,1) 100%);
background: -o-linear-gradient(top,  rgba(110,109,109,1) 0%,rgba(59,59,58,1) 100%);
background: -ms-linear-gradient(top,  rgba(110,109,109,1) 0%,rgba(59,59,58,1) 100%);
background: linear-gradient(to bottom,  rgba(110,109,109,1) 0%,rgba(59,59,58,1) 100%);
}
#main .tabset .btn:hover{margin-bottom:0;}
.tab-content{
	border:1px solid #fff;
	padding:10px 0 3px 24px;
	border-radius: 7px;
	margin:0 0 12px;
	overflow:hidden;
	box-shadow:0 8px 10px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0 8px 10px rgba(0, 0, 0, 0.3) inset;
	background:url(../images/bg-tab-content.png);
	position:relative;
}
.tab-content .btn-close{
	position:absolute;
	right:10px;
	top:7px;
	width:30px;
	text-indent:-9999px;
	overflow:hidden;
	border-radius: 4px;
	height:27px;
	background:rgb(113,113,113);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxNzE3MSIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDMwMzAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(113,113,113,0.74) 0%, rgba(48,48,48,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,113,113,0.74)), color-stop(100%,rgba(48,48,48,0.75)));
	background: -webkit-linear-gradient(top,  rgba(113,113,113,0.74) 0%,rgba(48,48,48,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(113,113,113,0.74) 0%,rgba(48,48,48,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(113,113,113,0.74) 0%,rgba(48,48,48,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(113,113,113,0.74) 0%,rgba(48,48,48,0.75) 100%);
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.4);
}
.tab-content .btn-close:after{
	position:absolute;
	top:50%;
	left:50%;
	margin:-7px 0 0 -6px;
	background:url(../images/btn-close.png) no-repeat;
	width:12px;
	height:13px;
	content:'';
}
.tab-content .btn-close:hover{
	text-decoration:none;
	background:rgb(211,57,57);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzMzkzOSIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZjAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(211,57,57,0.74) 0%, rgba(159,0,0,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,57,57,0.74)), color-stop(100%,rgba(159,0,0,0.75)));
	background: -webkit-linear-gradient(top,  rgba(211,57,57,0.74) 0%,rgba(159,0,0,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(211,57,57,0.74) 0%,rgba(159,0,0,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(211,57,57,0.74) 0%,rgba(159,0,0,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(211,57,57,0.74) 0%,rgba(159,0,0,0.75) 100%);
}
.tab-content .box{
	overflow:hidden;
	padding:0 0 5px;
}
.tab-content .title{
	float:left;
	margin:0 7px 0 0;
	min-width:60px;
	color:#fff;
	padding:2px 0 0;
	text-transform:uppercase;
	font: 20px/24px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
.tab-content .btn-list{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	text-transform:uppercase;
}
.tab-content .btn-list li{
	float:left;
	margin:0 9px 3px 0;
}
#main .tab-content .btn-list a{margin:0;}
#main .tab-content .btn-list a:hover{margin:0 0 -2px;}
.main-holder .wrap{margin:-5px 0 0;}
.user-details{
	background: rgb(248,247,242);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjdmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVkZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,247,242,1) 0%, rgba(239,237,227,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,247,242,1)), color-stop(100%,rgba(239,237,227,1)));
	background: -webkit-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	border:1px solid #c9c8c3;
	border-radius: 3px;
	overflow:hidden;
	margin:0 0 15px;
	display:block;
	min-height:140px;
	padding:14px 0 12px 10px;
	font: 18px/20px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
.user-details .title{
	display:block;
	font-weight:normal;
	margin: 0 0 20px;
}
.user-details .box{
	float:left;
	width:46%;
	min-height:111px;
	text-align:center;
	margin:0 0 0 7%;
	position:relative;
	color:#545454;
	padding:0 0 29px;
}
.user-details .box .note{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.user-details .box:hover{text-decoration:none;}
.user-details:hover .hover,
.user-details img{
	display:block;
	margin:0 auto 4px;
}
.user-details:hover img,
.user-details .hover{display:none;}
.user-details .box:first-child{margin:0;}
#main .exercise-list .btn,
#main .notes-holder .btn,
#main .user-details .btn{
	position:absolute;
	left:50%;
	margin:0 0 0 -50px;
	bottom:9px;
}
#main .exercise-list .btn,
#main .notes-holder .btn{
	left:25px;
	margin:0;
	bottom:21px;
}
#main .exercise-list .btn{
	left:auto;
	right:2px;
	bottom:16px;
}
.exercise-list .ico{
	float:left;
	margin:6px 20px 5px 6px;
}
#main .exercise-list .btn:hover,
#main .notes-holder .btn:hover,
#main .user-details .btn:hover{margin-bottom:-2px;}
.notes-holder{
	overflow:hidden;
	position:relative;
	border:1px solid #bbb9b4;
	border-radius: 3px;
	margin:0 0 15px;
	padding:14px 20px 39px 25px;
	min-height:113px;
	background: rgb(248,247,242);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjdmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVkZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,247,242,1) 0%, rgba(239,237,227,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,247,242,1)), color-stop(100%,rgba(239,237,227,1)));
	background: -webkit-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
}
.notes-holder .heading-box{
	position:relative;
	width:100%;
	padding:0 0 8px;
}
.notes-holder .heading-box:after{
	content:'';
	display:block;
	clear:both;
}
.notes-holder .ico{
	float:left;
	margin:2px 5px 0 -2px;
}
#main .notes-holder .note,
#main .notes-holder h2{
	margin:0;
	color:#3a3a3a;
	float:left;
	font: 22px/24px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#main .notes-holder .note{
	float:right;
	margin:0 -15px 0 0;
}
#main .notes-holder .avatar{
	float:left;
	margin:4px 15px 0 -1px;
}
.user-details .quantity{
	font-size:75px;
	line-height:78px;
	color:#545454;
	word-spacing:1px;
	display:block;
	margin:-7px 0 0;
	white-space:nowrap;
}
.exercise-list{
	padding:0;
	margin:0;
	list-style:none;
}
.exercise-list li{
	border:1px solid #dddbd5;
	border-width:1px 0;
	padding:10px 0;
	margin:0 0 15px;
	overflow:hidden;
	line-height:15px;
	position:relative;
}
.exercise-list .number{
	float:left;
	min-width:40px;
	margin:0 11px 0 0;
	color:#525252;
	font: 55px/58px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
.exercise-list .text-holder{
	overflow:hidden;
	padding:2px 0 0;
}
#main .exercise-list .heading-box{
	overflow:hidden;
	position:relative;
	padding:0 0 6px;
}
#main .exercise-list h3{
	color:#cd0000;
	text-transform:capitalize;
	margin:0;
	float:left;
	font: 25px/28px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#main .exercise-list .note{
	float:right;
	color:#202020;
	margin:0 0 0 10px;
	text-transform:capitalize;
	font: 25px/28px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
#main .exercise-list p{margin:0 0 11px;}
.exercise-list .quantity{
	display:block;
	color:#454545;
	font: 25px/28px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
.btns{
	padding:0;
	margin:0;
	list-style:none;
	float:right;
}
#main .btns .btn{margin:0 0 8px;}
#main .btns .btn:hover{margin:0 0 6px;}
#footer{
	width:100%;
	background:#323233 url(new_design/bg-nav.png);
}
#footer .logo{
	background-position:-100px 0;
	width:100px;
	height:83px;
	margin:1px 36px 5px -28px;
}
.footer-nav{
	float:left;
	margin:0 20px 5px 0;
	text-transform:uppercase;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}
.footer-nav ul{
	padding:0;
	margin:0;
	list-style:none;
}
.footer-nav li{padding:0 0 2px;}
.footer-nav a{color:#fff;}
.footer-holder{
	margin:0 auto;
	width:100%;
	max-width:940px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:28px 20px 13px;
	overflow:hidden;
}
.hidden{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.hidden:focus{
	position:static;
	width:auto;
	height:auto;
}
@media only screen and (max-width: 1024px){
	.workout-list li{margin-right:13px;}
}
@media only screen and (max-width: 1000px){
	.main-visual .text-holder{max-width:47%;}
	.main-visual{
		max-width:100%;
		margin:0;
		width:100%;
	}
	.workout-holder:after{width:100%;}
}
@media only screen and (max-width: 980px){
	.navbar .nav li:first-child,
	.navbar .nav li{background:none;}
	.navbar .nav li:before,
	.navbar .nav li:after{display:none;}
}
@media only screen and (max-width: 767px){
	.article-holder,
	.exercise-list li,
	#main .workout-holder h3{
		padding-left:15px;
		padding-right:15px;
	}
	#main .exercise-list .note,
	#main .exercise-list h3{
		float:none;
		margin:0 0 5px;
	}
	.user-details{
		float:none;
		display:block;
		margin:0 auto 10px;
		overflow:hidden;
	}
	.btns{
		float:none;
		margin:0 0 0 15px;
	}
}
@media only screen and (max-width: 640px){
	#main .heading h2{
		float:none;
		text-align:center;
		margin:0 0 10px;
	}
	#main .heading .heading-btn{
		float:none;
		display:block;
		margin:0 auto 10px;
	}
	.search-form{
		margin:0 auto 10px;
		float:none;
		width:100%;
	}
	.search-form .block{
		width:100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.search-form input[type="text"]{width:80%;}
	.main-visual{
		min-height:320px;
		padding-top:30px;
	}
}
@media only screen and (max-width: 550px) {
	.tabset li{
		display:block;
		float:none;
		margin:0 0 4px;
		text-align:center;
	}
	#main .btn,
	#main .btn.alt{min-width:240px;}
	.main-visual .text-holder{max-width:80%;}
	.tab-content .title{
		display:block;
		float:none;
		text-align:center;
		min-width:auto;
		margin:0 0 5px;
	}
	.tab-content{padding-left:0;}
	.tab-content .btn-list{
		float:none;
		text-align:center;
	}
	.tab-content .btn-list li{
		float:none;
		width:100%;
		margin: 0 0 4px;
	}
	.main-visual{
		background-position:-7px 100%;
	}
}
@media (-webkit-min-device-pixel-ratio: 1.5),
	( min-resolution : 144dpi ){
	.logo{
		background-image:url(../images/logo@x2.png);
		background-size: 160px 83px;
		width:55px;
		height:45px;
	}
	#footer .logo{
		background: url(../images/logo@x2.png) no-repeat -60px 0;
		background-size: 160px 83px;
		width: 100px;
		height: 83px;
	}
	.main-visual{
		background-image:url(../images/bg-main-visual@x2.png);
		background-size: 1021px 444px;
	}
}
