#main{
	width:100%;
	position:relative;
	padding:0 0 30px;
}
#main .main-visual p{margin:0 0 26px;}
.row-fluid{
	max-width:940px;
	margin:0 auto;
}

.article-holder{
	border:1px solid #d1d0cb;
	border-width:1px 0;
	color:#3c3c3c;
	padding:11px 0 6px;
	margin:0 0 11px;
}
.article-holder:after{
	content:'';
	display:block;
	clear:both;
}
#main .main-holder p{margin: 0 0 12px;}

.heading{
	width:100%;
	max-width:940px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px 0 7px;
}
.heading:after{
	content:'';
	display:block;
	clear:both;
}
.heading-btn{
	float:right;
	color:#fff !important;
	position:relative;
	min-width:229px;
	padding:2px 35px;
	margin:-4px 0 0 10px;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none !important;
	background: rgb(211,57,57);
	background: -moz-linear-gradient(top,  rgba(211,57,57,1) 0%, rgba(159,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,57,57,1)), color-stop(100%,rgba(159,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(211,57,57,1) 0%,rgba(159,0,0,1) 100%);
	font: 36px/40px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}
.heading-btn:before,
.heading-btn:after{
	position:absolute;
	content:'';
	left:15px;
	top:50%;
	background:url(new_design/bullet01.png) no-repeat;
	width:18px;
	height:17px;
	margin:-9px 0 0;
}
.heading-btn:hover{
	color:#fff;
	text-decoration:none !important;
}
.heading-btn:after{
	left:auto;
	right:13px;
}
#main .heading h2{
	float:left;
	margin:0;
	text-transform:uppercase;
}

.tabset{
	border:1px solid #fdfdfc;
	overflow:hidden;
	border-radius: 6px;
	background: rgb(217,216,202);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZDhjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU1ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(217,216,202,1) 0%, rgba(228,229,218,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,216,202,1)), color-stop(100%,rgba(228,229,218,1)));
	background: -webkit-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -o-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: -ms-linear-gradient(top,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	background: linear-gradient(to bottom,  rgba(217,216,202,1) 0%,rgba(228,229,218,1) 100%);
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, 0.3) inset;
	margin:0;
	list-style:none;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
	padding:6px 9px 5px;
}
.tabset li{float:left;}
.tabset a{
	color:#fff;
	text-transform:uppercase;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
	padding:2px 7px 3px;
}

.main-holder .wrap{margin:-5px 0 0;}

.hidden{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.hidden:focus{
	position:static;
	width:auto;
	height:auto;
}

@media only screen and (max-width: 1024px){
	.workout-list li{margin-right:13px;}
}
@media only screen and (max-width: 1000px){
	.main-visual .text-holder{max-width:47%;}
	.main-visual{
		max-width:100%;
		margin:0;
		width:100%;
	}
	.workout-holder:after{width:100%;}
}

@media only screen and (max-width: 767px){

	.article-holder,
	.exercise-list li,
	#main .workout-holder h3{
		padding-left:15px;
		padding-right:15px;
	}
	#main .exercise-list .note,
	#main .exercise-list h3{
		float:none;
		margin:0 0 5px;
	}

	.btns{
		float:none;
		margin:0 0 0 15px;
	}
}
@media only screen and (max-width: 640px){
	#main .heading h2{
		float:none;
		text-align:center;
		margin:0 0 10px;
	}
	#main .heading .heading-btn{
		float:none;
		display:block;
		margin:0 auto 10px;
	}

	.main-visual{
		min-height:320px;
		padding-top:30px;
	}
}
@media only screen and (max-width: 550px) {
	.tabset li{
		display:block;
		float:none;
		margin:0 0 4px;
		text-align:center;
	}

	#main .btn,
	#main .btn.alt{min-width:240px;}
	.main-visual .text-holder{max-width:80%;}
	.tab-content .title{
		display:block;
		float:none;
		text-align:center;
		min-width:auto;
		margin:0 0 5px;
	}

	.tab-content{padding-left:0;}
	.tab-content .btn-list{
		float:none;
		text-align:center;
	}

	.tab-content .btn-list li{
		float:none;
		width:100%;
		margin: 0 0 4px;
	}

	.main-visual{
		background-position:-7px 100%;
	}
}
@media (-webkit-min-device-pixel-ratio: 1.5),
	( min-resolution : 144dpi ){
	.logo{
		background-image:url(new_design/logo@x2.png);
		background-size: 160px 83px;
		width:55px;
		height:45px;
	}
	#footer .logo{
		background: url(new_design/logo@x2.png) no-repeat -60px 0;
		background-size: 160px 83px;
		width: 100px;
		height: 83px;
	}
	.main-visual{
		background-image:url(new_design/bg-main-visual@x2.png);
		background-size: 1021px 444px;
	}
}
