section.main_section {
	margin: 50px 0 0 10px;
	padding-right: 20px;
	padding-left: 20px;
	z-index: -1;
}

body{
	color:#3c3c3c;
	background:#efede4;
	padding:0;

	font:13px/15px Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	min-width:320px;
	margin-top: 40px;
}
input[type=text], input[type=password], input[type=file], input[type=submit], textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
a{
	text-decoration:none;
	color:#cd0000;
}
a:focus,
a:hover{
	text-decoration:underline;
	color:#cd0000;
}
a:active{background-color:transparent;}
#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
}

.main_section{ margin-top: 30px; }

@media only screen and (max-width: 550px) {
	body#main, 
	section.main_section { margin-top: 0; }
}

//-------------------------------------
// MODAL
//-------------------------------------

@media only screen and (max-width: 550px) {
  .modal {
     width: 460px;
     margin: -250px 0 0 -240px;
 }
}

@media only screen and (max-width: 500px) {
  .modal {
     width: 320px;
     margin: -250px 0 0 40px;
     position: fixed;
     &.fade.in { top: 50% !important; }
 }
}

@media only screen and (max-width: 400px) {
	.modal {
		margin: -250px 0 0 5px;
	}
}