@mixin internal-box {
	float:      left;
	width:      46%;
	min-height: 111px;
	text-align: center;
	margin:     0 0 0 7%;
	position:   relative;
	color:      $highlighted_box_color;
	padding:    0 0 29px;
}