@font-face {
	font-family: 'rama_gothic_elight';
	src: url('ramagothice-light.eot');
	src: url('ramagothice-light.eot?#iefix') format('embedded-opentype'),
		url('ramagothice-light.woff') format('woff'),
		url('ramagothice-light.ttf') format('truetype'),
		url('ramagothice-light.svg#rama_gothic_elight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rama_gothic_e_regularregular';
	src: url('ramagothice-regular.eot');
	src: url('ramagothice-regular.eot?#iefix') format('embedded-opentype'),
		url('ramagothice-regular.woff') format('woff'),
		url('ramagothice-regular.ttf') format('truetype'),
		url('ramagothice-regular.svg#rama_gothic_e_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}