section#usp {
	background:url($logo_banner) no-repeat;
	background-position: 50% 0;
	width:               100%;
	height:              45em;

    .usp_sign_up {
		-moz-box-sizing:    border-box;
		-webkit-box-sizing: border-box;
		padding:            4em 8em;
		width:              50em;

		p {
			font-size: 1.5em;
		}
	}
}

@media screen and (max-width: $med_tablet_media) {
	section#usp {
		background-position: 45% 0;

		.usp_sign_up {
			width:  30em;
			margin: 0;
			padding: 2em;

			p {
				margin: 0 35px 10px 0;
			}
		}
	}
}

aside.box_list.homepage {
	margin-top: 50px;
}

//.main-visual {
//	background:url($logo_banner) no-repeat;
//	background-position:50% 0;
//	width:1022px;
//	min-height:444px;
//	margin: -50px -45px 8px 0;
//	padding:109px 0 30px 12.2%;
//	-moz-box-sizing:border-box;
//	-webkit-box-sizing:border-box;
//	box-sizing:border-box;
//}

//.main-visual .text-holder{
//	padding:0 0 30px;
//	max-width:38%;
//	font: 25px/30px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
//	color:#373636;
//}

//@media only screen and (max-width: $med_desktop_media){
//	.main-visual { 
//		margin: 0;
//		background-position: 30%;
//	}

//	.main-visual .text-holder {
//    	min-width: 300px !important;

//    	h1 { 
//    		line-height: 46px;
//    		margin-left: 0 !important;
//    	}
//	}
//}

//@media only screen and (max-width: $small_tablet_media){
//	.main-visual .text-holder {
//    	min-width: 200px !important;

//    	h1 { 
//    		line-height: 46px;
//    		margin-left: 0 !important;
//    	}
//	}
//}

////------------------------------
//// SIGN UP & LOGIN
////------------------------------

//.main-visual form,
//.main-visual aside.form_options {
//	margin-left: -100px;
//}