.main-visual {
	background:url($logo_banner) no-repeat;
	background-position:50% 0;
	width:1022px;
	min-height:444px;
	margin: -50px -45px 8px 0;
	padding:109px 0 30px 12.2%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.main-visual .text-holder{
	padding:0 0 30px;
	max-width:38%;
	font: 25px/30px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
	color:#373636;
}


//------------------------------
// SIGN UP & LOGIN
//------------------------------

.main-visual form,
.main-visual aside.form_options {
	margin-left: -100px;
}