.navbar{
	background:#323233 url($navbar_background);
	border-bottom:1px solid #676a6c;
	margin:0;
}

.navbar-fixed-top{ height: 68px; }

.navbar .nav li a.sub_nav {
	background: transparent !important;
	span {
		color: #545454;
		text-shadow: none;
	}
}

.navbar .nav li a.sub_nav:hover {
	background: transparent !important;
	span {
		color: #cd0000;
	}
}

.logo{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	background:url($navbar_logo) no-repeat;
	width:55px;
	height:45px;
	margin:13px 27px 10px;
}

.logo a{
	display:block;
	height:100%;
}

.nav{
	text-transform:uppercase;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}

.navbar .nav li{
	padding:0 2px 0 0;
	position:relative;
	background:url($navbar_seperator) 100% 0 no-repeat;
}

.navbar .nav li:first-child{
	padding-left:2px;
	background:url($navbar_seperator) 100% 0 no-repeat, url($navbar_seperator) no-repeat;
}

.navbar .nav li.active:after,
.navbar .nav li.active:before,
.navbar .nav li.hover:after,
.navbar .nav li.hover:before{
	background:url($navbar_seperator) no-repeat;
	top:0;
	left:-2px;
	height:100%;
	width:2px;
	position:absolute;
	content:'';
}

.navbar .nav li:first-child.hover:before{left:0;}
.navbar .nav li.active:after,
.navbar .nav li.hover:after{
	left:auto;
	right:0;
}

.navbar .nav li a{
	padding:0 9px;
	height:48px;
	display:table;
	color:#fff !important;
	background: rgba(0, 0, 0, 0.4) !important;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

.navbar .nav li span{
	display:table-cell;
	vertical-align:bottom;
	width:100%;
	padding:0 0 8px;
}

.nav li.active a,
.nav li.hover a,
.nav li a:hover{
	background:rgba(142, 20, 21, 0.9) !important;
	color:#fff !important;
	box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.nav ul.dropdown-menu li a{
	width: 150px;
	padding: 2px;
	text-align: center;
}

.nav ul.dropdown-menu li a:hover{
	background:rgba(142, 20, 21, 0.9) !important;
	color:#fff !important;
	box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.nav-collapse.in.collapse .nav{margin:0;}
.nav-collapse.in.collapse .nav a{
	width:100%;
	margin:0 0 2px;
}
.nav-collapse.in.collapse .nav li{
	padding:0;
	background:none;
}
.nav-collapse.in.collapse .nav li:before,

.nav-collapse.in.collapse .nav li:after{display:none;}

//-------------------------------------
// RESPONSIVE SUB-NAV
//-------------------------------------

@media only screen and (max-width: 640px){
	.nav li a {
		margin: 0 10px !important;
		&:hover { background: none; }
	}

	.nav ul.dropdown-menu li a {
		text-align: left;
		margin: 0 10px !important;

        span { color: #cd0000 !important; }

		span:hover {
			background: #cd0000;
			color: white !important;
		}
	}
}

.navbar .nav-collapse {
	background:#323233 url($navbar_background);
	z-index: 1;
}

//-------------------------------------
// BUTTON
//-------------------------------------

#main #header .btn-navbar {
	min-width: 20px;
	min-height: 15px;
	margin: 25px 40px 0 0;
}


//-------------------------------------
// USER PROFILE
//-------------------------------------
.navbar .nav.pull-right li.login {
	margin-right: 0 !important;
}

@media (min-width: 640px) {
	.navbar .nav.pull-right li {
		margin-right: 50px;
	}
}

@media (min-width: 550px) {
	.navbar .nav.pull-right li {
		margin-right: 50px !important;
	}
}