// The table on Workout#show showing exercises
th.workout_exercise_details.sets { width: 30%; }
th.workout_exercise_details.muscle { width: 30%; }
th.workout_exercise_details.equipment { width: 30%; }