h1 {
	color:#35302d;
	margin:0 0 9px;
	text-transform:uppercase;
	font:45px/48px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}

h2 {
	color:#202020;
	margin:0 0 10px;
	font: 36px/40px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}

h3 {
	font: 30px/34px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
	color:#35302d;
	margin: 0 0 7px;
	text-transform:uppercase;
}

h4 {
	color:#373636;
	margin:0 0 10px;
	font: 25px/28px 'rama_gothic_elight', Arial, Helvetica, sans-serif;
}

h5 {
	color:#404040;
	margin:0 0 10px;
	font: 18px/22px 'rama_gothic_e_regularregular', Arial, Helvetica, sans-serif;
}