h1 { margin: 10px 0 15px 0; }

.upcase {
  text-transform: uppercase;
}

.w_e_order {
  font-size: 150%;
}

p.red { color: red; }

.user_stat {
  font-size: 450%;
  margin: 10px 0 15px 0;
  font-weight: bold;
}