h1 {
	font-family:    $h1_font !important;
	font-size:      2em;
	color:          $h1_color;
	text-transform: uppercase;
	line-height:    120%;
	margin:         0 0 9px;
}

h2 {
	font:        $h2_font;
	font-size:   1.8em !important;
	color:       $h2_color;
	margin:      0 0 10px;
	line-height: 160% !important;
}

h3 {
	font-family:    $h3_font !important;
	font-size:      1.4em !important;
	color:          $h3_color;
	text-transform: uppercase;
	line-height:    160% !important;
	margin:         0 0 7px;
}

h4 {
	font-family: $h4_font !important;
	font-size:   1.2em !important;
	color:       $h4_color;
	margin:      0 0 10px;
	line-height: 160% !important;
}

h5 {
	font-family: $h5_font !important;
	font-size:   1em !important;
	color:       $h5_color;
	margin:      0 0 10px;
	line-height: 160% !important;
}