li.workout_exercise {

  .w_e_order > h2.order_numbers {
  	margin-top: -25px;
  }
}

p.exercise_loaded_text {
  color: red;
  text-style: bold;
}

.workout_exercise_details { margin-top: 20px; }

.workout_form_group.instructions { margin-top: 20px; }

aside.w_e_order { margin: 0 -40px 0 -7.5px }

div.set_details { margin-left: 30px; }

table.workout_exercise_set_details { margin-top: 20px; }

.workout_exercise_set_detail_td { padding-right: 15px; }

.change_workout_exercise_set_details { margin: -5px 0 15px 0; }

.new_workout_exercise_set_details { color: white; }