li.workout_exercise {

  .w_e_order > h2.order_numbers {
  	margin-top: -25px;
  }
}

p.exercise_loaded_text {
  color: red;
  text-style: bold;
}

.workout_exercise_details { margin-top: 20px; }

.workout_form_group.instructions { margin-top: 20px; }