//----------------------------
// TAG CONTAINER
//----------------------------

#main ul#active_tag_container {
	margin-left: 20px;
}

#main #inactive_tags {
	margin: 20px 0 0 -5px;
}

//----------------------------
// WORKOUTS
//----------------------------

@media only screen and (max-width: $small_tablet_media) {
	.workout-list li { margin: 2px !important; }
}

//----------------------------
// 
//----------------------------
.workout-holder {
	position: relative;
	padding:  0 0 2px;
	margin:   0 0 10px;

	h3 { margin-left: 40px; }
}

.workout-list {
//	margin:         0 -21px 0 0;
//    margin-left:    -70px;
	padding:        0;
	list-style:     none;
	overflow:       hidden;
	letter-spacing: -4px;
	font-size:      0;
	position:       relative;
	text-align:     center;
}

@media only screen and (max-width: $med_desktop_media) {
	.workout-list { margin-left: 0; }

	.workout-holder h3 { margin-left: 0; }
}

.workout-holder:after{
	position:   absolute;
	bottom:     0;
	left:       0;
	background: $workout_background_color;
	height:     1px;
	width:      100%;
	content:    '';
}
.workout-list li{
	background:         rgb(239,237,227);
	border:             $workout_list_border;
	border-radius:      2px;
//	margin:             0 19px 8px 0;
    margin:             2px;
	width:              141px;
	text-align:         center;
	letter-spacing:     0;
	font:               18px/22px $rama_reg;
	display:            inline-block;
	vertical-align:     top;
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgb(248,247,242);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjdmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVkZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,247,242,1) 0%, rgba(239,237,227,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,247,242,1)), color-stop(100%,rgba(239,237,227,1)));
	background: -webkit-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,247,242,1) 0%,rgba(239,237,227,1) 100%);
}

.workout-list li:hover{ @include list-hover; }

.workout-list a {
	display:    block;
	position:   relative;
	padding:    6px 5px 37px;
	min-height: 122px;
	color:      $workout_list_color;
}
.workout-list a:hover { color: $link_color; }

.workout-list .title {
	display:     block;
	font-weight: normal;
}

.workout-list .caption {
	display:     block;
	font-size:   13px;
	line-height: 15px;
	margin:      0 0 13px;
	font-weight: normal;
}
.workout-list img {
	display:block;
	margin:0 auto 5px;
}

.workout-list .note{
	position: absolute;
	left:     0;
	bottom:   3px;
	width:    100%;
}

.workout-list a:hover img,
.workout-list .hover { display: none; }

.workout-list a:hover .hover { display: block; }
.workout-list a:hover { text-decoration: none; }

.workout-list a strong { text-transform: uppercase; }

.end_of_workouts p { 
  font-size: 200%;
  font-weigth: bold;
  text-align: center;
}

@media only screen and (max-width: $desktop_media) {
	.workout-list li{margin-right:13px;}
}