{{#workout_exercise}}
  <li class='workout_exercise big_box_list row well' data-id='{{order}}'>
    <div class='w_e_order span1'>
      <!-- = render partial: "exercises/order_form", locals: { exercise:   exercise, value: -1, direction: "up" } -->
      <h2 class='order_numbers'>
        {{order_number}}
      </h2>
      <div>
        <!-- = render partial: "exercises/order_form", locals: {   exercise: exercise, value: 1, direction: "down"  } -->
      </div>
    </div>
  
    <div class='w_e_details span3'>
      <h3>
        <a href="{{url}}">
          <p>{{name}}</p>
        </a>
      </h3>

      <h5>Instructions</h5>
      <div class="baby_form_group" data-model="workout_exercise" data-id="{{id}}" data-variable="instructions" data-csrf="{{csrf_token}}">
        <div class="baby_form_value">{{instructions}}</div>
        {{#users_workout_exercise}}
          <a class="baby_form_link" href="#">edit</a>
        {{/users_workout_exercise}}
      </div>

      <table class='workout_exercise_details'>
        <thead>
          <tr>
            <th>
              <h5>Sets</h5>
            </th>
            <th>
              <h5>Muscle-group</h5>
            </th>
            <th>
              <h5>Equipment</h5>
            </th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td>
              {{sets}}
            </td>
            <td>{{first_muscle}}</td>
            <td>{{equipment_name}}</td>
          </tr>
        </tbody>
      </table>
  
      {{#users_workout_exercise}}
        <a href="{{url}}" method="delete" confirm='{{confirm_delete}}' class='btn btn-danger btn-mini'>REMOVE</a>
      {{/users_workout_exercise}}
    </div>
  </li>
{{/workout_exercise}}