<li class='workout_item'>
  <a href='{{url}}'>
    <strong class='title'>{{name}}</strong>
    <strong class='caption'>{{username}}</strong>

    <img src="{{regular_hard_grey_icon_image_url}}" class="regular_hard" width="66" height="53" alt="{{difficulty}}"></img>

    <img src="{{regular_hard_red_icon_image_url}}" class="hover regular_hard" width="66" height="53" alt="{{difficulty}}"></img>
    <span class='note'>EXERCISES: {{exercises_count}}</span>
  </a>
</li>