<li class='workout_item'>
  <a href='{{url}}'>
    <strong class='title'>{{name}}</strong>
    <strong class='caption'>{{username}}</strong>
    {{{gray_difficulty_icon}}}
    {{{color_difficulty_icon}}}
    <span class='note'>EXERCISES: {{exercises_count}}</span>
  </a>
</li>