<li class="workout_item box_list well span2">
  <article class='{{muscles}}'>
    <header>
      <h5 class="upcase">
        <a href='{{url}}'>
          {{name}}
        </a>
      </h5>
    </header>
    <p>Level: {{client_level}}</p>
    <p>Difficulty: {{difficulty}}</p>
    <p class="upcase">by: {{username}}</p>
    <p class=>
      Exercises: {{exercises_count}}
    </p>
  </article>
</li>