<li class="workout_item box_list well span2">
  <article>
    <header>
      <h5 class="upcase">
        <a href='{{url}}'>
          {{name}}
        </a>
      </h5>
    </header>
    <p>{{client_level}}</p>
    <br/>
    <p>{{difficulty}}</p>
    <p class="upcase">by: {{username}}</p>
    <p class=>
      Exercises: {{exercise_count}}
    </p>
  </article>
</li>