<div class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <header id="header">
      <a href="#" class="btn btn-navbar collapsed" data-target=".nav-collapse" data-toggle="collapse" accesskey='a'>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <strong class="logo"><a href="/">fitafy</a></strong>
      <div class="nav-collapse">
        <ul class="nav">

          {{# logged_in_trainer }}
            <li class='dropdown' accesskey='w'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>WORKOUTS</span></a>
              <ul class='dropdown-menu'>
                <li accesskey='wa'>
                  <a href="{{workouts_path}}" class='sub_nav'><span>ALL WORKOUTS</span></a>
                </li>
                <li accesskey='wb'>
                  <a href="#new_workout_modal" data-toggle='modal' class='sub_nav'><span>NEW WORKOUT</span></a>
                </li>
              </ul>
            </li>
          {{/ logged_in_trainer }}

        {{^ logged_in_trainer }}
          <li accesskey='w'>
            <a href="{{workouts_path}}"><span>WORKOUTS</span></a>
          </li>
        {{/ logged_in_trainer }}


        {{# admin }}
          <li class='dropdown' accesskey="e">
            <a href="#" class='dropdown-toggle' data-toggle='dropdown'><span>EXERCISES</span></a>
            <ul class='dropdown-menu'>
              <li accesskey='ea'>
                <a href="{{exercises_path}}" class='sub_nav'><span>EXERCISES</span></a>
              </li>
              <li accesskey='eb'>
                <a href="{{new_exercise_path}}" class='sub_nav'><span>NEW EXERCISE</span></a>
              </li>
            </ul>
          </li>
        {{/ admin }}

        {{# staff }}
          <li class='dropdown' accesskey="r">
            <a href="#" class='dropdown-toggle new_features' data-toggle='dropdown'><span>NEW FEATURES</span></a>
            <ul class='dropdown-menu'>
              {{# new_feature }}
                <li>
                  <a href="{{feature_path}}" class='sub_nav' value='{{feature_name}}'>{{feature_name}}</a>
                </li>
              {{/ new_feature }}
            </ul>
          </li>
        {{/ staff }}
      </ul>

      <div class='right-nav'>

        <ul class='nav pull-right' id='user_nav_button'>
          {{# logged_in_trainer }}
            <li class='dropdown' accesskey='u'>
              <a data-toggle='dropdown'>
                <span><img src="{{current_user_thumbnail_avatar}}" alt{{user_name}}>
                {{user_name}}</span>
              </a>

              <ul class='dropdown-menu'>
                <li accesskey='ua'>
                  <a href="{{current_user_path}}" class='sub_nav'><span>PROFILE</span></a>
                </li>
                <li>
                  <a href="{{edit_user_path}}" class='sub_nav'><span>EDIT PROFILE</span></a>
                </li>
                <li accesskey='ub'>
                  <a href="{{logout_path}}" data-method='delete' rel='nofollow' class='sub_nav'><span>LOGOUT</span></a>
                </li>
              </ul>
            </li>
          {{/ logged_in_trainer }}

          {{^ logged_in_trainer }}
            <li class='login'>
              <a href="{{login_path}}"><span>LOGIN</span></a>
            </li>
            <li>
              <a href="{{sign_up_path}}"><span>SIGN UP</span></a>
            </li>
          {{/ logged_in_trainer }}
        </ul>

      </div>
    </header>
  </div>
</div>