= simple_form_for exercise, html: { remote: true, class: 'ajax_form' } do |f|
  = f.input :order_number, input_html: { value: exercise.order_number + value }, as: :hidden
  = f.submit " ", class: "icon-chevron-#{direction}"