.tag_list.well
  = link_to "SORT BY TAGS", "#", class: "btn btn-info sort_by_tags"

  .muscle_tags.hidden
    Muscles:
    - @muscles.each do |tag|
      = link_to_tag tag, :muscles
      = link_to_remove_tag tag, :muscles
      |

/ %p
/   Equipment:
/   - @equipment.each do |tag|
/     = link_to_tag tag, :equipment
/     = link_to_remove_tag tag, :equipment
/     |