%p#tab_sort_by
  Muscles:
  - @muscles.each do |tag|
    = link_to_tag tag, :muscles
    = link_to_remove_tag tag, :muscles
    |

%p
  Equipment:
  - @equipment.each do |tag|
    = link_to_tag tag, :equipment
    = link_to_remove_tag tag, :equipment
    |