.row.exercises

  %aside.span2.exercise_tags#exercise_index_tags
    = render partial: "exercises/tags"

  %article.span8.exercise_list
    - @exercises.each do |exercise|
      - @renderer.exercise = exercise
      = @renderer.render.html_safe