<li class="workout_item box_list well span2">
  <article class="workout muscles">
    <header>
      <h5 class="upcase">
        <a href='{{url}}'>
          {{name}}
        </a>
      </h5>
    </header>
    <p class="upcase">
      {{client_level}}
      {{difficulty}}
    </p>
    <p class="upcase">
      by: {{username}}
    </p>
    <p class="upcase">
      {{exercise_count}} exercises
    </p>
  </article>
</li>