.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav

        %li= link_to "Workouts", workouts_path
        %li= link_to "New Workout", new_workout_path

        %li= link_to "Exercises", exercises_path
        %li= link_to "New Exercise", new_exercise_path